
.AboutBody{
    background-color: yellowgreen;
};
.wrap{
    width: 100%;
    height: 100vh;
    }


.slide-container{
margin-top: 10vh;
padding-left: 15vw;
padding-right: 15vw;
margin-top: 15vh;
height: 100%;
img{height: 80vh;
z-index: 0;}}